{% extends 'base.html' %} 
{% load static %} 

{% block title %} 
Sponsorship
{% endblock title %} 

{% block head_css_section %}
<link href="{% static 'css/sponsorship.css'%}" rel="stylesheet"> 
{% endblock head_css_section%}

{% block links %}
{% endblock links %}

{% block content %}
        <!--==========================
                Intro Section
        ============================-->
        <section id="intro" class="clearfix">
            <div class="container d-flex h-100">
                <div class="row justify-content-center mx-auto align-self-center intro-row">
                    <div class="col-md-8 intro-info order-md-first order-last">
                        <h2><span>Meet</span> the companies <br>that make it possible.</h2>
                    </div>
                    <div class="col-md-4 intro-img order-md-last order-first">
                        <img src="/static/img/logo-old.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </section>
        <!-- #intro -->

        <!-- #border -->
        <div class="border"></div>

<!--==========================
        Sponsors section
============================-->
<section id="sponsors">

    <!-- #gold -->
    <div class="container col-md-10 limb" id="gold">
        <header class="section-header">
            <h3>Data Analytics</h3>
        </header>
        <hr>

        <div class=“jumbotron”>
            <div class="row justify-content-center pl-2 align-self-auto">
                <div class="container col-md-6 boxes">
                    <div class="logos quantum_black"></div>
                    <div class="container col-md-12 description left-side">
                        <p class="lead hidden-text " data-wow-delay="0.1s">
                            QuantumBlack is a McKinsey Company which helps companies use data to drive decisions. It
                            combines business experience, expertise in large-scale data analysis and visualisation, and
                            advanced software engineering know-how to deliver results. Form aerospace to finance,
                            QuantumBlack helps companies prototype, develop and deploy bespoke data science and data
                            visualisation solutions to make better decisions.
                        </p>
                    </div>
                </div>
                <div class="container col-md-6 boxes">
                    <div class="logos bloomberg"></div>
                    <div class="container col-md-12 description right-side">
                        <p class="lead hidden-text " data-wow-delay="0.1s">
                            Bloomberg is the world’s primary distributor of financial data and a top news provider of
                            the 21st century. By using its dynamic network of data, ideas and analysis to solve clients’
                            problems every day, Bloomberg is relied on to deliver accurate, real-time business and
                            market information that helps people make important financial decisions.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- #border -->
    <div class="border"></div>

    <!-- #silver -->
    <div class="container col-md-10 limb" id="silver">
        <header class="section-header">
            <h3>Financial Services</h3>
        </header>
        <hr>

        <div class=“jumbotron”>
            <div class="row justify-content-center mx-auto align-self-center">
                <div class="container col-md-6 boxes">
                    <div class="logos goldman_sachs"></div>
                    <div class="container col-md-12 description left-side">
                        <p class="lead hidden-text " data-wow-delay="0.1s">
                            Goldman Sachs is a leading global investment banking, securities and investment management
                            firm that provides a wide range of financial services including corporations, financial
                            institutions, governments and individuals. With the culture values teamwork, client service
                            and giving back to the communities, it has been described as the foundation of the firm’s
                            success. Goldman Sachs maintains offices in all major financial centres around the world.
                        </p>
                    </div>
                </div>
                <div class="container col-md-6 boxes">
                    <div class="logos morgan_stanley"></div>
                    <div class="container col-md-12 description right-side">
                        <p class="lead hidden-text " data-wow-delay="0.1s">
                            Morgan Stanley is a US based financial services company that through its subsidiaries and
                            affiliates, advises, and originates, trades, manages and distributes capital for
                            governments, institutions and individuals. With its four core values – putting clients
                            first, doing the right thing, leading with exceptional ideas and giving back, Morgan Stanley
                            is committed to maintaining the first-class service and high standard of excellence.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mx-auto align-self-center">
                <div class="container col-md-6 boxes">
                    <div class="logos credit_suisse"></div>
                    <div class="container col-md-12 description left-side">
                        <p class="lead hidden-text " data-wow-delay="0.1s">
                                Credit Suisse is a leading global wealth manager with strong investment banking capabilities, its operation has a global reach and extends about 50 countries worldwide across mature and emerging markets. Credit Suisse partners across countries, divisions and regions to deliver holistic financial solutions to its clients, including innovative products and special tailored advice. As a global and inclusive community, Credit Suisse benefits from a diverse range of perspective to create value and drive results for its clients, shareholders and communities.
                            </p>
                    </div>
                </div>
                <div class="container col-md-6 boxes">
                    <div class="logos kpmg"></div>
                    <div class="container col-md-12 description right-side">
                        <p class="lead hidden-text " data-wow-delay="0.1s">
                                KPMG is a global network of professional firms providing Audit, Tax and Advisory services. With a worldwide presence, KPMG continues to build on its successes thanks to clear vision, defined values and above all, its people. Its industry focus help KPMG firms’ professionals develop a rich understanding of clients’ businesses and the insight, skills and resources required to address industry-specific issues and opportunities.
                            </p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mx-auto align-self-center">
                <div class="container col-md-6 boxes">
                    <div class="logos santander"></div>
                    <div class="container col-md-12 description left-side">
                        <p class="lead hidden-text " data-wow-delay="0.1s">
                            Santander is a leading financial services provider, offering a wide range of personal and
                            commercial financial products and services, with around 15 million customers across their
                            Retail and Corporate Businesses. With the target – to become one of the best banks in the UK
                            to work for, Santander is transforming its business, creating a simply, personal and fair
                            culture in a dynamic and creative environment.
                        </p>
                    </div>
                </div>
                <div class="container col-md-6 boxes">
                    <div class="logos investec"></div>
                    <div class="container col-md-12 description right-side">
                        <p class="lead hidden-text " data-wow-delay="0.1s">
                            Investec is a distinctive specialist bank and asset manager which provides financial
                            products and services, imbued with a personal approach, to a select client base in three
                            principal markets: the UK and Europe, Southern Africa and Asia-Pacific. Nowadays Investec is
                            publicly traded in London and Johannesburg, its divisions include Corporate & Institutional
                            Banking, Private Banking, Wealth & Investment, and Asset Management.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mx-auto align-self-center">
                <div class="container col-md-6 boxes">
                    <div class="logos lseg"></div>
                    <div class="container col-md-12 description left-side">
                        <p class="lead hidden-text " data-wow-delay="0.1s">
                            LSEG (London Stock Exchange Group) is an international markets infrastructure business. Its
                            diversified global business focuses on capital formation, intellectual property and risk and
                            balance sheet management. As a leading developer and operator of high performance technology
                            solution, LSEG operates an open access model, offering choice and partnership to customers
                            across all of its business.
                        </p>
                    </div>
                </div>
                <div class="container col-md-6 boxes">
                    <div class="logos pimco"></div>
                    <div class="container col-md-12 description right-side">
                        <p class="lead hidden-text " data-wow-delay="0.1s">
                                PIMCO is one of the world’s premier fixed income investment manager. With the focus on excellence and its short term and long term track record have led institutions, financial advisors and millions of individual investors to entrust PIMCO with their assets. From preparing for retirement to funding higher education, investing the clients’ assets is a tremendous responsibility of PIMCO, and for that reason it works relentlessly to help these investors reach their goals.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mx-auto align-self-center">
                <div class="container col-md-6 boxes">
                    <div class="logos fidelity"></div>
                    <div class="container col-md-12 description left-side">
                        <p class="lead hidden-text " data-wow-delay="0.1s">
                            Fidelity’s goal is to make financial expertise broadly accessible and effective in helping
                            people live the lives they want. Offering investment management, retirement planning,
                            portfolio guidance, brokerage and many other financial products, Fidelity managed to help
                            investors to achieve better results. Innovative yet personal, compassionate yet responsible,
                            grounded by a tireless work ethic, this is the heart of the Fidelity way.
                        </p>
                    </div>
                </div>
                <div class="container col-md-6 boxes">
                    <div class="logos point_72"></div>
                    <div class="container col-md-12 description right-side">
                        <p class="lead hidden-text " data-wow-delay="0.1s">
                                Point72 Asset Management is a global firm led by Steven Cohen that invests in multiple asset classes and strategies worldwide. Resting on more than a quarter-century of investing experience, Point72 seeks to be the industry’s premier asset manager through delivering superior risk-adjusted returns, adhering to highest ethical standards, and offering the greatest opportunities to the industry’s brightest talent.
                            </p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mx-auto align-self-center">
                <div class="container col-md-6 boxes">
                    <div class="logos amplify_trading"></div>
                    <div class="container col-md-12 description left-side">
                        <p class="lead hidden-text " data-wow-delay="0.1s">
                            Amplify Trading is a financial futures trading company that leverages years of successful
                            trading experience to develop professional traders. It continues to develop profitable
                            traders by providing cutting edge technology and support to ensure traders, regardless
                            novice or professional to achieve their targets. Investing in technology to help progress
                            their own traders, Amplify now also works with the world’s largest financial firms to
                            enhance capital markets learning and identify the market leaders of tomorrow.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- #border -->
    <div class="border"></div>

    <!-- #bronze
                        <div class="container col-md-10 limb" id="bronze">
                            <header class="section-header">
                                <h3>Bronze</h3>
                            </header>
                            <hr>
        
                           <div class=“jumbotron”>
                                
                                
                                
                            </div>
                        </div>
                        -->

    <!-- #border -->
    <div class="border"></div>

    <!-- #ed-partners -->
    <div class="container col-md-10 limb" id="ed-partners">
        <header class="section-header">
            <h3>Educational Partners</h3>
        </header>
        <hr>

        <div class=“jumbotron”>
            <div class="row justify-content-center mx-auto align-self-center">
                <div class="container col-md-6 boxes">
                    <div class="logos edukate"></div>
                    <div class="container col-md-12 description left-side">
                        <p class="lead hidden-text " data-wow-delay="0.1s">
                                EduKATE provides Data Science and Software Development training, assessment and recruitment solutions for forward-thinking companies around the world. It is developed by Cambridge Spark and is supported by the UK’s government innovation agency. EduKATE integrates research in source code analysis, compilers and recommender systems. its purpose is to provide highly personalised code feedback and diagnostics to learners within an industry simulated environment.
                            </p>
                    </div>
                </div>
                <div class="container col-md-6 boxes">
                    <div class="logos wiser_grads"></div>
                    <div class="container col-md-12 description right-side">
                        <p class="lead hidden-text " data-wow-delay="0.1s">
                            WiserGrads is an award-winning creative and recruitment company which combines culture and
                            performance to change the way people think about work. As a graduate recruitment agency
                            based in the heart of London, WiserGrads have specialist consultants across a range of
                            sectors to help graduates finding their dream positions at a company that suit them.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mx-auto align-self-center">
                <div class="container col-md-6 boxes">
                    <div class="logos axiom_tutoring"></div>
                    <div class="container col-md-12 description left-side">
                        <p class="lead hidden-text " data-wow-delay="0.1s">
                            Axiom Tutoring aims to provide bespoke and ethical Economics tuition to undergraduate
                            students, the company is passionate about teaching and determined to improve the high
                            standards. Aiming to be the leading tuition provider for Economics, it also gives 20% of
                            profits to charitable fund in Albania which helps students from disadvantageous family
                            background or remote areas.
                        </p>
                    </div>
                </div>
            </div>
        </div>
</section>

<!-- #border -->
<div class="border"></div>
{% endblock content %}
