{% extends 'base.html' %} 
{% load static %} 
{% load bootstrap4 %}

{% block title %} 
Terms and Conditions
{% endblock title %} 

{% block head_css_section %}
<link href="{% static 'css/privacy-notice.css'%}" rel="stylesheet"> 
{% endblock head_css_section%}

{% block links %}
{% endblock links %}

{% block content %}
<div id="site-wrapper">
        <section id="intro" class="clearfix">
            <div class="container d-flex h-100">
                <div class="row justify-content-center mx-auto align-self-center intro-row">
                    <div class="col-md-8 intro-info order-first">
                        <h2>Terms and Conditions</h2>
                    </div>
                    <div class="col-md-8">
                        <h3>Opportunities: </h3>
                    </div>
                    <div class="col-md-8">
                        <p>The “Opportunities” functionality of the Data Hub is meant to serve as a portal to promote events partly or fully organized by third parties including sponsors and other partner companies to the UCL Data Science Society. </p>

<p>By applying to any Opportunity via the usage of this functionality, you agree for the UCL Data Science Society Committee to review your Data Hub profile, CV, and answers to the questions pertaining to that Opportunity, with the objective of validating whether your application meets the criteria outlined for the event’s participants.</p>

<p>By using this functionality, you consent that the UCL Data Science Society reserves the right to maintain this criteria confidential, as part of its rights to confidentiality and those of its sponsors. You also consent that the UCL Data Science Society is not in any way obligated to provide an explanation for the outcome of your application.</p>

                    </div>
                    <div class="col-md-8">
                        <h3>Materials: </h3>
                    </div>
                    <div class="col-md-8">
                        <p>Unless otherwise stated, the content uploaded by the UCL Data Science Society is meant to serve as a representation of latest advancements in the field of data science and its diverse applications, workshop content the Committee deems useful for members to develop their coding skills, and work done by members that it con does not in any way represent the UCL Data Science Society’s endorsement or acceptance of responsibility for the views, findings, subjective comments, accusations, harm, or otherwise contained in the content uploaded.</p>
                    </div>
                    <div class="col-md-8">
                        <h3>Proposals:</h3>
                    </div>
                    <div class="col-md-8">
<p>The Proposals functionality of the Data Hub is meant to serve as an environment that facilitates connections among data science enthusiasts in UCL. By using the Proposals functionality of the Data Hub, you consent that if you express your interest in any opportunity uploaded by another user then only the first name and email address you submitted upon your registration will be shared with that user exclusively, for the purpose of enabling the establishment of further dialogue.</p>

<p>The UCL Data Science Society does not intend to regulate, oversee, or arbiter any interactions between mutually interested parties that occur as a result of using this functionality. The UCL Data Science Society does not make itself responsible for the content of this dialogue established beyond the Data Hub as a result of using this platform, or the physical, non-physical, or otherwise damages or loss that arise from interactions that take place beyond the Data Hub between interested parties as a result of the usage of this platform. Further, the UCL Data Science Society does not make itself responsible for any intellectual property or other loss in information that might arise from the publication of a Proposal on the Data Hub.</p>
                    </div>
                    <div class="col-md-8">
                        <h3>General Usage:</h3>
                    </div>
                    <div class="col-md-8">
                        <p>
                        The UCL Data Science Society has created the Data Hub with the purpose of helping students advance their careers in data science, develop their knowledge and skills, and connect with each other. </p>

<p>The UCL Data Science Society does not encourage its users to upload any information beyond the scope of what they would be comfortable with a recruiter or UCL DSS committee member designated to evaluating applications to available Opportunities as per set criteria to see.</p>

<p>By using this platform, you accept full responsibility for the information you upload to this platform. The UCL DSS discharges any claims, liabilities, and expenses arising from any loss of personal data uploaded onto the platform upon signing up. </p>

                        </p>
                </div>
            </div>
        </section>
<div class="border"></div>
{% endblock content %}
