/* profile-update Section
--------------------------------*/

#profile-update {
    width: 100%;
    height: 100%;
    position: relative;
    background: #041918 center top no-repeat;
    background-size: cover;
}

#profile-update .intro-row {
    align-items: center;
}

#profile-update p {
    color: whitesmoke;
}

#profile-update h2 {
    margin-top: 100px;
    color: whitesmoke;
    margin-bottom: 40px;
    font-size: 48px;
    font-weight: 700;
}

#profile-update h2 span {
    color: #9CF7DF;
}

#profile-update button {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 32px;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    background: whitesmoke;
    color: #041918;
    margin-bottom: 20px;
}

#profile-update button:hover {
    background: #9CF7DF;
}

#profile-update a {
    color: whitesmoke;
}