/* Login Section
--------------------------------*/

#login {
    width: 100%;
    height: 100vh;
    position: relative;
    background: #041918 center top no-repeat;
    background-size: cover;
}

#login .intro-row {
    align-items: center;
}

#login p {
    color: whitesmoke;
}

#login h2 {
    color: whitesmoke;
    margin-bottom: 40px;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

#login h2 span {
    color: #9CF7DF;
}

#login button {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 32px;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    background: whitesmoke;
    color: #041918;
    display: block;
    margin: 0 auto;
}

#login button:hover {
    background: #9CF7DF;
}

#login .alert {
    display: inline-block;
}

#login .row {
    margin: auto;
}

#login .container-fluid {
    padding-top: 30vh;
}